fastapi
uvicorn[standard]
SQLAlchemy>=1.4
asyncpg
pydantic
python-dotenv
alembic
pydantic-settings
python-multipart
arq
redis>=5.0.1
aioredis>=2.0.1
aiofiles>=23.2.1
httpx
pydantic[email]
greenlet
spacy
nltk
pandas
docx2txt
pdfminer
datasets